@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/*
font-family: 'Roboto', sans-serif;
#202124
#4a4a4a
#f7f7f7
#fff
*/

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background: #fff;
}
* {margin:0; padding:0}
header {
    width: 92%;
    margin: 6vh 4% 0;
    height: 88vh;
    background: url(../img/titel-bild.jpg) center/cover no-repeat;
}
header h1 {
    font-size: 3em;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding-top: 35vh;
}
span {
    font-weight: 700;
}
header div {
    animation: mymove 5s infinite;
}
header div img{
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 5vh;
    animation: move 5s infinite;
}
@keyframes move {
    from {top: 0px;}
    to {top: 100px;}
}
nav {
    width: 100%;
    height: 6vh;
    background: #fff;
    position: fixed;
    position: fixed;
    bottom: 0;
    width: 92%;
}
nav p {
    text-align: right;
    color: #202124;
    padding-top: 1%;
}
/* -------- main Part -------- */

a {
    color: blue;
    text-decoration: none;
}
h1 {
    font-weight: 400;
    font-size: 2em;
    line-height: 3em;
    text-align: center;
}
h2 {
    font-weight: 400;
    font-size: 2em;
    line-height: 3em;
    text-align: center;
}
p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.7em;
    text-align: center;
}
main {
    margin: 0 4%;
    background: #f7f7f7;
}
#greatIdeas {
    padding: 20vh 5%;
}
#greatIdeas p {
    padding: 0 20% 2vh;
}
.zweiBilder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 4%;
}
.zweiBilder img{
    width: 45%;
    flex-grow: 1;
}
#Meet {
    padding: 20vh 5%;
}
#Meet p {
    padding: 0 20% 10vh;
}
.Bilder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 4%;
}
.Bilder img{
    width: 48%;
    flex-grow: 1;
    padding: 0 10px 20px;
}
.Bilder img:last-of-type{
    padding: 0 25%;
}
footer h2 {
    line-height: 1.5em;
    padding: 20vh 5% 20vh;
}
footer div {
    display: flex;
    justify-content: space-around;
    padding: 0 2% 8vh;
}
footer img {
    width: 200px;
}
footer p {
    font-size: 0.7em;
    align-self: center;
    color: black;
}
footer a {
    font-size: 0.7em;
    align-self: center;
    color: black;
}
.reg {
    width: 40%;
}
